.button {
  font-family: "Roboto";
  background-color: $acent-text-color;
  color: $secondary-white-color;
  border: none;

  cursor: pointer;

  font-weight: 700;
  min-width: 200px;
  min-height: 50px;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;

  padding: 10px 32px;
  margin-right: auto;
  margin-left: auto;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  display: block;
  background-color: $acent-text-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #188ce8;
}
