.backdrop {
  position: fixed;
  display: inline-block;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.2);

  z-index: 10;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;

  padding: 0;

  top: 50%;
  left: 50%;

  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-right: 40px;

  width: 450px;

  transform: translate(-50%, -50%);

  background-color: $secondary-white-color;

  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  z-index: 20;

  @media screen and (min-width: 1200px) {
    min-width: 530px;
    min-height: 580px;
  }
}

.btn-modal {
  position: absolute;

  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  padding: 0;

  background: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-modal__close {
  display: block;
  width: 11px;
  height: 11px;

  fill: #000000;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal__close:hover {
  fill: $hover-icon-color;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;

  color: $primari-text-color;

  margin-top: 0;
  margin-bottom: 12px;

  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 1.15;
  }
}

.form-field {
  position: relative;

  display: flex;
  flex-direction: column;
}

.form-field__title {
  display: inline-block;

  margin-bottom: 4px;
}

.label {
  margin-bottom: 10px;
}

textarea {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71428;
  letter-spacing: 0.03em;
}

.form-field__icon {
  position: absolute;

  bottom: 46%;
  left: 14px;

  display: block;

  fill: #000000;
  width: 18px;
  height: 18px;

  transform: translate(0, 60%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__svg {
  width: 18px;
  height: 18px;
}

.form-field__text {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding: 0;
  padding-left: 42px;
  width: 100%;

  min-height: 40px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__text:focus {
  border: 1px solid $hover-icon-color;
  border-radius: 4px;

  outline: none;
}

.form-field__text:focus + .form-field__icon {
  fill: $hover-icon-color;
}

.form-field textarea {
  display: block;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding-left: 16px;
  padding-top: 12px;

  max-width: 488px;
  max-height: 120px;

  outline: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
  border: 1px solid $hover-icon-color;
}

.textarea-margin {
  margin-bottom: 20px;
}

.checkbox > input[type="checkbox"] {
  margin-right: 5px;
}

.checkbox a {
  font-style: normal;

  margin-left: 2px;
  text-decoration-line: underline;

  color: #2196f3;
}

.checkbox__input:checked + .checkbox__span {
  box-sizing: border-box;
  background-image: url(../images/icon.svg/sprite.svg/check-white.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top 1px left 0;

  background-color: $hover-icon-color;
  border: $hover-icon-color;
  border: 1px solid $hover-icon-color;
  border-radius: 2px;

  margin-right: 7px;
}

.checkbox__span {
  display: inline-block;

  border: 2px solid $primari-text-color;
  border-radius: 1px;

  width: 16px;
  height: 15px;

  margin-right: 7px;
}

input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__label {
  display: flex;
  justify-content: center;

  margin-bottom: 30px;

  font-size: 12px;
  line-height: 1.16;

  @media screen and(min-width:1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.cheacked {
  width: 16px;
  height: 15px;
}

.checked-icon {
  appearance: none;
  -webkit-appearance: none;
}
