$primari-text-color: #212121;
$acent-text-color: #2196f3;
$hover-icon-color: #2196f3;
$icon-text-hover: #afb1b8;
$secondary-white-color: #ffffff;
$primary-weight-font: 400;
$secendary-weight-font: 700;
$background-color-button: #f5f4fa;
$link-text-color: #757575;
