body {
  color: #757575;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
}

h1,
h2,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  padding: 0;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// section {
//   padding-left: 15px;
//   padding-right: 15px;
// }

.container {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
  /* text-align: center; */
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// .trait {
//   display: flex;
// }

.backdown__bottom {
  background: #f5f4fa;

  padding-bottom: 60px;

  @media screen and(min-width: 1200px) {
    padding-bottom: 94px;
  }
}

.backdown__top {
  padding-top: 60px;

  @media screen and(min-width: 1200px) {
    padding-top: 94px;
  }
}
